body {
  margin: 0;
  height: 100vh;
  overflow-y: hidden;
}

#root {
  height: 100%;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.page {
  height: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  overflow-x: auto;
}
